{% extends 'base.html' %}
{% block title %}
about us
{% endblock title %}
{% block body %}

<div class="container mt-3">
                <h1>About NIC</h1>
                <p>National Informatics Centre (NIC) was established in 1976, and has rich experience in providing ICT and eGovernance support to the Government for the last 4 decades and bridge the digital divide. It has emerged as a promoter of digital opportunities for sustainable development. NIC spearheaded “Informatics-Led-Development” by implementing ICT applications in social and public administration and facilitates electronic delivery of services to the government (G2G), business (G2B), citizen (G2C) and government employee (G2E). NIC, through its ICT Network, “NICNET”, has institutional linkages with all the Ministries /Departments of the Central Government, 37 State Governments/ Union Territories, and about 720+&nbsp; District Administrations of India.</p>
<p>NIC has been closely associated with the Government in different aspects of Governance&nbsp; besides establishing a Nationwide State-of-the-Art ICT Infrastructure, it has also built a large number of digital solutions to support the government at various levels, making the last-mile delivery of government services to the citizens a reality.</p>
<p>The following major activities are being undertaken:</p>
<ul>
<li>Setting up of ICT Infrastructure</li>
<li>Implementation of National and State Level e-Governance Projects/Products</li>
<li>Consultancy to the Government departments</li>
<li>Research &amp; Development</li>
<li>Capacity Building</li>
</ul>
</div>

{% endblock body %}