{% extends 'base.html' %}
{% block title %}
add questions
{% endblock title %}
{% block body %}
<div class="container mt-5">
    <form method="POST" action="/add-questions-{{quiz_id}}/" enctype = "multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlFile1">Please download <a href="https://drive.google.com/file/d/1rI3DQjUCu3VEigRLJFUeugdB9JFUPyKe/view?usp=sharing" target = "_blank">this excel sheet</a> and fill it with your questions and answers then submit the same.</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="input_file">
        </div>
        <button type="submit">Submit</button>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        {% endif %}
    </form>
</div>

{% endblock body %}