{% extends 'base.html' %}
{% block title %}
user account
{% endblock title %}
{% block body %}
<div class="container my-5">
    <form method="post" action = "/edit-user-account/">
    {% csrf_token %}
        <div class="form-group">
            <label for="formGroupExampleInput">First Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="fname" required value={{user.first_name}} >
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Last Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name = "lname" required value={{user.last_name}}  >
        </div>
        <div class="form-group" value={{user.gender}}>
            <label for="formGroupExampleInput2">Gender</label>
            <div class="form-check">
                {%if user.gender == 'Male'%}
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="Male"
                    checked >
                <label class="form-check-label" for="exampleRadios1">
                    Male
                </label>
                {% else %}
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="Male" >
                <label class="form-check-label" for="exampleRadios1">
                    Male
                </label>
                {% endif %}
            </div>
            
            <div class="form-check">
                {% if user.gender == 'Female' %}
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="Female" checked >            
                {% else %}
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="Female" >
                {% endif %}
                <label class="form-check-label" for="exampleRadios2">
                    Female
                </label>
            </div>
            <div class="form-check">
                {% if user.gender == 'Others' %}
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios3" value="Others" checked >
                {% else %}                
                <input class="form-check-input" type="radio" name="gender" id="exampleRadios3" value="Others" >
                {% endif %}
                <label class="form-check-label" for="exampleRadios3">
                    Others
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">School Id</label>
            <!-- <input type="text" class="form-control" id="formGroupExampleInput3" name = "school_id" required value={{user.school.pk}} > -->
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="school" name = "school" required value="{{user.school.pk}}" onchange="changeStandardDropDown()">
                {% for school in schools %}
                    <option value="{{school.pk}}">{{school.school_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Standard Id</label>
            <!-- <input type="text" class="form-control" id="formGroupExampleInput3" name = "standard_id" required value={{user.standard.pk}} > -->
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="standard" name = "standard" required value="{{user.standard.pk}}">
                {% for standard in standards %}
                    <option value="{{standard.pk}}">{{standard.school.school_name}} - {{standard.standard_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Section Id</label>
            <!-- <input type="text" class="form-control" id="formGroupExampleInput3" name = "section_id" required value={{user.section.pk}} > -->
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="section" name = "section" required value="{{user.section.pk}}">
                {% for section in sections %}
                    <option value="{{section.pk}}">{{section.standard.school.school_name}} - {{section.standard.standard_name}} - {{section.section_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">ID Number</label>
            <input type="text" class="form-control" id="formGroupExampleInput4" name = "idno" required value= {{user.idno}} >
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Profession</label>
            {% if user.is_student %}
                <input type="text" class="form-control" id="formGroupExampleInput6" name = "idno" required value= "Student" disabled = true>
            {% elif user.is_teacher%}
                <input type="text" class="form-control" id="formGroupExampleInput6" name = "idno" required value= "Teacher" disabled = true>
            {% else %}
                <input type="text" class="form-control" id="formGroupExampleInput6" name = "idno" required value= "Unknown" disabled = true>
            {% endif %}
            
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Mobile Number</label>
            <input type="text" class="form-control" id="formGroupExampleInput5" name = "mobile_number" required value= {{user.mobile_number}} disabled = true>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "email" required value= {{user.email}} disabled = true>
            <small id="emailHelp" class="form-text text-muted" >We'll never share your email with anyone else.</small>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
    {% endif %}
    
</div>
{% endblock body %}

<script>
    // function changeStandardDropDown()
    // {
    //     let school_id = document.getElementById("schoool").value;
    //     document.getElementById('standard').innerHTML = ``;
    // }
</script>

</html>