{% extends 'base.html' %}
{% block title %}
dashboard
{% endblock title %}
{% block body %}
<h1 class="d-flex justify-content-center">Dashboard</h1>
<div class="container">
    {% for quiz in quizzes %}
        <div class="card my-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{quiz.name}}</h5>
                <p class="card-text">{{quiz.date_created}}</p>
                <p class="card-text">{{quiz.quiz_description}}</p>
                <a href="/quiz-{{quiz.pk}}/" class="btn btn-primary">Start</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock body %}