{% extends 'base.html' %}
{% block title %}
dashboard
{% endblock title %}
{% block body %}
<h1 class="d-flex justify-content-center">Dashboard</h1>
<div class="container">
        {% if user.is_teacher %}
            <a href="/create-new-quiz" class="btn btn-primary">Create New Quiz</a>
            {% if no_quizzes%}
                <h2>You have not created any quizzes yet</h2>
            {% endif %}
        {% endif %}
        {% for quiz in quizzes %}
            <div class="card my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{quiz.name}}</h5>
                    <p class="card-text">{{quiz.date_created}}</p>
                    <p class="card-text">{{quiz.quiz_description}}</p>
                    {% if user.is_student %}
                    <a href="/quiz-{{quiz.pk}}/" class="btn btn-primary mt-1">Start</a>
                    {% else %}
                    <a href="/quiz-{{quiz.pk}}/" class="btn btn-primary mt-1">Test Quiz</a>
                    <a href="/add-questions-{{quiz.pk}}/" class="btn btn-primary mt-1">Add Questions</a>
                    <a href="/view-quiz-scores-{{quiz.pk}}/" class="btn btn-primary mt-1">View quiz scores</a>
                    {% endif %}
                    <a href="#" class="btn btn-primary mt-1">Edit quiz details</a>
                </div>
            </div>
        {% endfor %}
</div>

{% endblock body %}