{% extends 'base.html' %}

{% block title %}
view quiz
{% endblock title %}

{% block body %}
<h1 class="d-flex justify-content-center">{{quiz.name}}</h1>
<div class="container">
    <p id="timer"></p>
    <form id="myForm">
    {% csrf_token %}
    {% for question in  questions%}
    <p>{{question.question_no}}) {{question.question}}</p>
    <div class = "ml-4 mt-1 mb-4">
        {% if question.is_multiple_ans == "N" %}
            {% if question.option1 != "nan" %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question-{{question.pk}}" id="question-{{question.pk}}-1"
                        value="{{question.option1}}">
                    <label class="form-check-label" for="question-{{question.pk}}-1">
                        {{question.option1}}
                    </label>
                </div>
            {% endif %}

            {% if question.option2 != "nan" %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question-{{question.pk}}" id="question-{{question.pk}}-2"
                        value="{{question.option2}}">
                    <label class="form-check-label" for="question-{{question.pk}}-2">
                        {{question.option2}}
                    </label>
                </div>
            {% endif %}

            {% if question.option3 != "nan" %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question-{{question.pk}}" id="question-{{question.pk}}-3"
                        value="{{question.option3}}">
                    <label class="form-check-label" for="question-{{question.pk}}-3">
                        {{question.option3}}
                    </label>
                </div>
            {% endif %}
            {% if question.option4 != "nan" %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question-{{question.pk}}" id="question-{{question.pk}}-4"
                        value="{{question.option4}}">
                    <label class="form-check-label" for="question-{{question.pk}}-4">
                        {{question.option4}}
                    </label>
                </div>
                {% endif %}
        {% endif %}
        {% if question.is_multiple_ans == "Y" %}
            {% if question.option1 != "nan" %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="question-{{question.pk}}-ans-1" id="question-{{question.pk}}-ans-1"
                        value="{{question.option1}}">
                    <label class="form-check-label" for="question-{{question.pk}}-ans-1">
                        {{question.option1}}
                    </label>
                </div>
            {% endif %}

            {% if question.option2 != "nan" %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="question-{{question.pk}}-ans-2" id="question-{{question.pk}}-ans-2"
                        value="{{question.option2}}">
                    <label class="form-check-label" for="question-{{question.pk}}-ans-2">
                        {{question.option2}}
                    </label>
                </div>
            {% endif %}

            {% if question.option3 != "nan" %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="question-{{question.pk}}-ans-3" id="question-{{question.pk}}-ans-3"
                        value="{{question.option3}}">
                    <label class="form-check-label" for="question-{{question.pk}}-ans-3">
                        {{question.option3}}
                    </label>
                </div>
            {% endif %}

            {% if question.option4 != "nan" %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="question-{{question.pk}}-ans-4" id="question-{{question.pk}}-ans-4"
                        value="{{question.option4}}">
                    <label class="form-check-label" for="question-{{question.pk}}-ans-4">
                        {{question.option4}}
                    </label>
                </div>
            {% endif %}
        {% endif %}
    </div>        
    <p style="font-weight: bold;">Answer(s) = <span style="color: green;">{{question.answer}}</span></p>
    {% endfor %}
    </form>
    <a class = "btn btn-primary" href="/add-question-{{quiz.pk}}">Back</a>
</div>
{% endblock body %}